<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Files</title>
    <style>
        input {
            width: 100%;
            text-align: center;
        }

    </style>
</head>
<body>
<input type="button" value="Chat" onclick="location.href = '/';">
<p>
<script>

</script>
</body>
</html>